src/Library
src/Logs
src/obj
src/Temp
src/UserSettings
src/.vs

src/Unity.2D.Animation.Editor.csproj
src/Unity.2D.Animation.Runtime.csproj
src/Unity.2D.Aseprite.Common.csproj
src/Unity.2D.Aseprite.Editor.csproj
src/Unity.2D.Common.Editor.csproj
src/Unity.2D.Common.Path.Editor.csproj
src/Unity.2D.Common.Runtime.csproj
src/Unity.2D.IK.Editor.csproj
src/Unity.2D.IK.Runtime.csproj
src/Unity.2D.PixelPerfect.csproj
src/Unity.2D.PixelPerfect.Editor.csproj
src/Unity.2D.Psdimporter.Editor.csproj
src/Unity.2D.Sprite.Editor.csproj
src/Unity.2D.SpriteShape.Editor.csproj
src/Unity.2D.SpriteShape.Runtime.csproj
src/Unity.2D.Tilemap.Editor.csproj
src/Unity.2D.Tilemap.Extras.csproj
src/Unity.2D.Tilemap.Extras.Editor.csproj
src/Unity.Burst.CodeGen.csproj
src/Unity.Burst.csproj
src/Unity.Burst.Editor.csproj
src/Unity.Collections.BurstCompatibilityGen.csproj
src/Unity.Collections.csproj
src/Unity.Collections.DocCodeSamples.csproj
src/Unity.InputSystem.csproj
src/Unity.InputSystem.ForUI.csproj
src/Unity.InputSystem.TestFramework.csproj
src/Unity.InternalAPIEditorBridge.001.csproj
src/Unity.InternalAPIEditorBridge.005.csproj
src/Unity.InternalAPIEngineBridge.001.csproj
src/Unity.Mathematics.csproj
src/Unity.Mathematics.Editor.csproj
src/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
src/Unity.RenderPipelines.Core.Editor.csproj
src/Unity.RenderPipelines.Core.Runtime.csproj
src/Unity.RenderPipelines.Core.ShaderLibrary.csproj
src/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
src/Unity.RenderPipelines.Universal.Editor.csproj
src/Unity.RenderPipelines.Universal.Runtime.csproj
src/Unity.RenderPipelines.Universal.Shaders.csproj
src/Unity.Rider.Editor.csproj
src/Unity.Searcher.Editor.csproj
src/Unity.ShaderGraph.Editor.csproj
src/Unity.ShaderGraph.Utilities.csproj
src/Unity.TextMeshPro.csproj
src/Unity.TextMeshPro.Editor.csproj
src/Unity.Timeline.csproj
src/Unity.Timeline.Editor.csproj
src/Unity.VisualEffectGraph.Editor.csproj
src/Unity.VisualEffectGraph.Runtime.csproj
src/Unity.VisualScripting.Core.csproj
src/Unity.VisualScripting.Core.Editor.csproj
src/Unity.VisualScripting.Flow.csproj
src/Unity.VisualScripting.Flow.Editor.csproj
src/Unity.VisualScripting.SettingsProvider.Editor.csproj
src/Unity.VisualScripting.Shared.Editor.csproj
src/Unity.VisualScripting.State.csproj
src/Unity.VisualScripting.State.Editor.csproj
src/Unity.VisualStudio.Editor.csproj
src/UnityEditor.TestRunner.csproj
src/UnityEditor.UI.csproj
src/UnityEngine.TestRunner.csproj
src/UnityEngine.UI.csproj
src/UpgradeLog.htm
src/PsdPlugin.csproj
src/PPv2URPConverters.csproj
src/Ever Wandering.sln
src/com.unity.cinemachine.editor.csproj
src/Cinemachine.csproj
src/Assembly-CSharp.csproj
src/Assembly-CSharp-firstpass.csproj
src/Assembly-CSharp-Editor.csproj
src/.vsconfig
